{% extends 'base.html' %}

{% block title%}
    <title> welcone todo manager</title>>
{% endblock title%}



{% block content%}
     <div class="container">
     </br>
     {% if messages %}
        {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>


        {% endfor%}
     {% endif %}


     <form method = "POST">
         {% csrf_token%}
        <div class="form-group">
            <input type="text" class="form-control" name = "task" placeholder="New Task" >
        </div>
        <button type="Add Task" class="btn btn-primary">Add Task</button>
     </form>
     </br>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Done</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% if all_task %}
                {% for obj in all_task%}
                    {% if obj.done%}
                        <tr class="table-success">
                            <th> {{obj.task}}</th>
                            <td><a href="{% url 'pending_task' obj.id %}"><button type="button" class="btn btn-success">Mark this pending</button></a></td>
                            <td><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                            <td><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <th> {{obj.task}}</th>
                            <td><a href="{% url 'complete_task' obj.id %}"><button type="button" class="btn btn-success">Mark this Completed</button></a></td>
                            <td><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                            <td><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                        </tr>
                    {% endif%}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item"> <a class="page-link" href="?pg=1" ><<</a></li>
                {% if all_task.has_previous %}
                    <li class="page-item"><a class="page-link" href="?pg={{ all_task.previous_page_number}}">{{ all_task.previous_page_number}}</a></li>
                {% endif%}
                <li class="page-item"><a class="page-link" href="?pg={{all_task.number}}">{{all_task.number}}</a>
                {% if all_task.has_next %}
                    <li class="page-item"><a class="page-link" href="?pg={{ all_task.next_page_number}}">{{ all_task.next_page_number}}</a></li>
                {% endif%}
                <li class="page-item"><a class="page-link" href="?pg={{all_task.paginator.num_pages}}">>></a></li>
            </ul>
        </nav>
     </div>
{% endblock content%}